In [35]:
# Load libraries
import pandas as pd
from datetime import datetime

# load the raw data
raw_data = pd.read_csv(r"C:\Users\Makena\OneDrive\Desktop\USIU\2nd Summer sem\DWM/raw_data.csv")

# load the incremental data
incremental_data = pd.read_csv(r"C:\Users\Makena\OneDrive\Desktop\USIU\2nd Summer sem\DWM/incremental_data.csv")

print("Raw Data:")
print(raw_data.head()) 
print("\nIncremental Data:")
print(incremental_data.head())

Raw Data:
   order_id customer_name product  quantity  unit_price  order_date region
0         1         Diana  Tablet       NaN       500.0  2024-01-20  South
1         2           Eve  Laptop       NaN         NaN  2024-04-29  North
2         3       Charlie  Laptop       2.0       250.0  2024-01-08    NaN
3         4           Eve  Laptop       2.0       750.0  2024-01-07   West
4         5           Eve  Tablet       3.0         NaN  2024-03-07  South

Incremental Data:
   order_id customer_name product  quantity  unit_price  order_date   region
0       101         Alice  Laptop       NaN       900.0  2024-05-09  Central
1       102           NaN  Laptop       1.0       300.0  2024-05-07  Central
2       103           NaN  Laptop       1.0       600.0  2024-05-04  Central
3       104           NaN  Tablet       NaN       300.0  2024-05-26  Central
4       105         Heidi  Tablet       2.0       600.0  2024-05-21    North

## Full Transformation

### Raw Data

In [40]:
# full transformation on raw data
transfromed_rfull_data = raw_data.copy()

# Transform 1: Handle missing values and duplicates
# checking for missing values
missing_values = transfromed_rfull_data.isnull().sum()
print("\nMissing Values in Raw Data:")
print(missing_values[missing_values > 0])

# checking for duplicates
duplicates = transfromed_rfull_data.duplicated().sum()
print("\nDuplicates in Raw Data:")
print(duplicates)

# fill missing values for categorical columns with 'Unknown'
for col in ['customer_name', 'product', 'region']:
	transfromed_rfull_data[col].fillna('Unknown', inplace=True)

# fill missing values for numerical columns with their mean
for col in ['quantity', 'unit_price']:
	transfromed_rfull_data[col].fillna(transfromed_rfull_data[col].mean(), inplace=True)

# drop duplicates
transfromed_rfull_data.drop_duplicates(inplace=True)
print("\nTransformed Raw Data after handling missing values and duplicates:")
print(transfromed_rfull_data.head())

Missing Values in Raw Data:
customer_name     1
quantity         26
unit_price       35
order_date        1
region           25
dtype: int64

Duplicates in Raw Data:
1

Transformed Raw Data after handling missing values and duplicates:
   order_id customer_name product  quantity  unit_price  order_date   region
0         1         Diana  Tablet  1.959459       500.0  2024-01-20    South
1         2           Eve  Laptop  1.959459       500.0  2024-04-29    North
2         3       Charlie  Laptop  2.000000       250.0  2024-01-08  Unknown
3         4           Eve  Laptop  2.000000       750.0  2024-01-07     West
4         5           Eve  Tablet  3.000000       500.0  2024-03-07    South

In [41]:
# Transformation 2: Enrichment- Total Price Calculation
transfromed_rfull_data['total_price'] = transfromed_rfull_data['quantity'] * transfromed_rfull_data['unit_price']
print("Total price calculated and added to the dataset.")

# Transformation 3: Structural - Datetime Formatting
transfromed_rfull_data['order_date'] = pd.to_datetime(transfromed_rfull_data['order_date'], format='mixed')
transfromed_rfull_data['order_date'] = transfromed_rfull_data['order_date'].dt.strftime('%Y-%m-%d %H:%M:%S')

# Transformation 4: Filtering - Drop Unnecessary Columns
columns_to_drop = ['region']  # Example columns to drop
transfromed_rfull_data.drop(columns=columns_to_drop, inplace=True, errors='ignore')  # Drop specified columns


print(transfromed_rfull_data.head())

Total price calculated and added to the dataset.
   order_id customer_name product  quantity  unit_price           order_date  \
0         1         Diana  Tablet  1.959459       500.0  2024-01-20 00:00:00
1         2           Eve  Laptop  1.959459       500.0  2024-04-29 00:00:00
2         3       Charlie  Laptop  2.000000       250.0  2024-01-08 00:00:00
3         4           Eve  Laptop  2.000000       750.0  2024-01-07 00:00:00
4         5           Eve  Tablet  3.000000       500.0  2024-03-07 00:00:00

   total_price
0    979.72973
1    979.72973
2    500.00000
3   1500.00000
4   1500.00000

In [42]:
# save the transformed raw data
transfromed_rfull_data.to_csv(r"C:\Users\Makena\OneDrive\Desktop\USIU\2nd Summer sem\DWM\Mid Sem\Transformed\transformed_full.csv", index=False)

### Incremental transformation

In [49]:
# Incremental transformation on incremental data
transformed_incremental_data = incremental_data.copy()

# Transform 1: Handle missing values and duplicates
# checking for missing values
missing_values = transformed_incremental_data.isnull().sum()
print("\nMissing Values in Raw Data:")
print(missing_values[missing_values > 0])

# checking for duplicates
duplicates = transformed_incremental_data.duplicated().sum()
print("\nDuplicates in Raw Data:")
print(duplicates)

# fill missing values for categorical columns with 'Unknown'
for col in ['customer_name', 'product', 'region']:
	transformed_incremental_data[col].fillna('Unknown', inplace=True)

# fill missing values for numerical columns with their mean
for col in ['quantity', 'unit_price']:
	transformed_incremental_data[col].fillna(transformed_incremental_data[col].mean(), inplace=True)

# drop duplicates
transformed_incremental_data.drop_duplicates(inplace=True)
print("\nTransformed Raw Data after handling missing values and duplicates:")


# Transformation 2: Enrichment - Total Price Calculation
transformed_incremental_data['total_price'] = transformed_incremental_data['quantity'] * transformed_incremental_data['unit_price']
print("Total price calculated and added to the incremental dataset.")

# Transformation 3: Structural - Datetime Formatting
transformed_incremental_data['order_date'] = pd.to_datetime(transformed_incremental_data['order_date'], format='mixed')
transformed_incremental_data['order_date'] = transformed_incremental_data['order_date'].dt.strftime('%Y-%m-%d %H:%M:%S')    

# Transformation 4: Filtering - Drop Unnecessary Columns
columns_to_drop = ['customer_name']  # Example columns to drop
transformed_incremental_data.drop(columns=columns_to_drop, inplace=True, errors='ignore')

print(transformed_incremental_data.head())

Missing Values in Raw Data:
customer_name    6
quantity         4
region           2
dtype: int64

Duplicates in Raw Data:
0

Transformed Raw Data after handling missing values and duplicates:
Total price calculated and added to the incremental dataset.
   order_id product  quantity  unit_price           order_date   region  \
0       101  Laptop       1.5       900.0  2024-05-09 00:00:00  Central
1       102  Laptop       1.0       300.0  2024-05-07 00:00:00  Central
2       103  Laptop       1.0       600.0  2024-05-04 00:00:00  Central
3       104  Tablet       1.5       300.0  2024-05-26 00:00:00  Central
4       105  Tablet       2.0       600.0  2024-05-21 00:00:00    North

   total_price
0       1350.0
1        300.0
2        600.0
3        450.0
4       1200.0

In [50]:
# save the transformed incremental data
transformed_incremental_data.to_csv(r"C:\Users\Makena\OneDrive\Desktop\USIU\2nd Summer sem\DWM\Mid Sem\Transformed\transformed_incremental.csv", index=False)